{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-header">
        JobPortal Register
    </div>

    <div class="auth-body">

        <form method="post">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" required>

            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Password:</label>
            <div style="position: relative;">
                <input type="password"
                       name="password"
                       id="password"
                       required
                       style="width:100%; padding-right:40px;">

                <span onclick="togglePassword()"
                      style="position:absolute; right:10px; top:10px; cursor:pointer;">
                    👁
                </span>
            </div>

            <button type="submit">Register</button>

        </form>

        <div class="auth-footer">
            Already have an account?
            <a href="{% url 'login' %}">Login here</a>
        </div>

    </div>

</div>


<script>
function togglePassword() {
    var pass = document.getElementById("password");

    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
}
</script>

{% endblock %}